/* 图标位置重置 */
::v-deep .el-input--medium .el-input__icon {
  line-height: 25px;
}

/* 表单 */
::v-deep .el-form-item__label-wrap {
  margin: 0 !important;
}

::v-deep .el-form-item__label {
  font-size: 16px;
}

::v-deep .el-form-item__content {
  line-height: normal;
}

/* 输入框 */
::v-deep .el-input__inner {
  font-size: inherit;
}

/* 输入框高度 */
::v-deep .el-input--medium .el-input__inner {
  height: 36px;
}

/* 日期选择器-高度 */
::v-deep .el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange.el-range-editor--medium {
  margin: 0;
  height: 36px;
  line-height: 36px;
}

/* 日期选择器-日期图标垂直居中 */
::v-deep .el-input__icon.el-range__icon.el-icon-date {
  line-height: 36px;
}

/* 日期选择器-提示文字字体大小 */
::v-deep .el-range-editor--medium .el-range-input {
  font-size: 15px;
}

/* 日期选择器-范围指示标志垂直居中 */
::v-deep .el-range-separator {
  line-height: 36px;
}

/* 数字输入框 */
::v-deep .el-input-number.el-input-number--medium {
  width: 100%;
  line-height: 34px;
}

/* 还原被污染的表格样式 */
::v-deep .el-table__body-wrapper {
  min-height: 60px;
}

::v-deep .el-table td.el-table__cell {
  border: none;
}

::v-deep .el-table__cell {
  border: none !important;
}

::v-deep .el-table__cell .cell {
  padding: 5px;
  margin: 0;
}

.easy-search {
  margin-bottom: 10px;
}

.opts {
  margin-top: 4px;

  &::v-deep .el-link {
    margin-right: 14px;
  }
}
