:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  /* 渐变色 */
  --vp-home-hero-name-background: linear-gradient(135deg, #76c4fd 100%, #bbe2fe 100%);

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(135deg, rgb(226, 163, 255), rgb(118, 179, 255));
  --vp-home-hero-image-filter: blur(150px);
  
  /* 提示框背景颜色 */
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

/* 提示框 */
.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
  /* border-color: #d97706; */
  border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
  /* border-color: #f43f5e; */
  border-color: var(--vp-c-red-2);
}

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 9999 !important;
}

.vp-doc a {
    text-decoration: none;
}